<!DOCTYPE html>
<html lang="en" data-ng-app="test">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="js/kendo-ui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="js/kendo-ui/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="js/kendo-ui/styles/kendo.default.mobile.min.css" />
    <link rel="stylesheet" href="js/getorgchart/getorgchart.css" />
    <style>
        html, body {margin: 0px; padding: 0px;height: 100%; overflow: hidden; }
        #chart {width: 100%;height: 100%;}
        .get-org-chart .get-left,
        .get-org-chart .get-right,
        .get-org-chart .get-up, .get-down,
        .get-org-chart .get-oc-tb,
        g[data-btn-action]{
            display: none !important;
        }
        g[data-node-id] .get-text-0{
            display: none !important;
        }
        #tooltip{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
        #tooltip .box-item{
            border: 1px solid #d7d7d7;
            padding: 5px;
            background: #fff;
            width: 470px;
        }
        #tooltip .box-item .img,
        #tooltip .box-item img,
        #tooltip .box-item .text-more{
            width: 100%;
        }
        #tooltip .box-item .text-more{
            text-align: right;
        }
        p{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body data-ng-controller="testCtrl">
<div>
    <button class="btn btn-primary" data-ng-click="isGuest=true">GUEST</button>
    <button class="btn btn-primary" data-ng-click="isGuest=!isGuest">USER</button>
</div>
<div id="chart"
     oncontextmenu="return false">
</div>
<div data-ng-show="isGuest"
     id="tooltip">
    <div class="box-item">
        <div class="img"><img data-ng-src="{{node.ImageLink}}" alt=""></div>
        <div class="text-more"><span class="desc">{{node.Footer}}</span></div>
    </div>
</div>
<ul data-ng-show="!isGuest && isChartRendered"
    kendo-context-menu="contextMenuInstance"
    k-options="contextMenuOptions">
    <li data-tag="view">View claim</li>
    <li data-tag="addright">Add claim (right)</li>
    <li data-tag="addleft">Add claim (left)</li>
    <li data-tag="addbelow">Add claim (below)</li>
    <li data-tag="copy">Copy claim</li>
    <li data-tag="delete">Delete claim</li>
</ul>
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="js/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="js/kendo-ui/kendo.all.js"></script>
<script src="js/getorgchart/getorgchart.js"></script>
<script>
    var app = angular.module('test', ['kendo.directives']);
    app.controller('testCtrl', function($scope, $timeout, $location){
        $scope.initModel = function(){
            $scope.isGuest = true;
            $scope.minId = 1;
            $scope.maxId = 10000001;
            $scope.currentId;

            var rootClaim = $scope.getNewClaim();
            rootClaim.id = $scope.generateId();
            $scope.dataSource = [
                rootClaim
            ];

            $scope.isChartRendered = false;

            $scope.$chart = $('#chart');
            $scope.$tooltip = $('#tooltip');

            $scope.chart = $scope.$chart[0];

            $scope.contextMenuOptions = {
                target: '#chart',
                filter: 'g[data-node-id]',
                select: $scope.onSelect
            };
            $scope.chartOptions = {
                primaryFields: ["Lastname", "Title", "Name"],
                scale: 0.5,
                siblingSeparation: 150,
                enableZoom: true,
                enableEdit: false,
                orientation: getOrgChart.RO_TOP_PARENT_LEFT,
                dataSource: angular.copy($scope.dataSource),
                renderNodeEvent: $scope.renderNodeEvent,
                updatedEvent: $scope.updatedEvent,
                insertNodeEvent: $scope.insertNodeEvent,
                removeNodeEvent: $scope.removeNodeEvent,
                clickNodeEvent: $scope.clickNodeEvent
            };
        };
        /*
         *
         * @param sender : The OrgChart Object
         * @param args : node
         */
        var colors = ['#4286f4', '#d942f4', '#e8f442'];
        $scope.renderNodeEvent = function(sender, args){
            var rand = Math.floor(Math.random() * colors.length);
            var hex = colors[rand];
            args.content[1] = args.content[1].replace("rect", "rect style='fill: " + hex + "; stroke: " + hex + ";'");
        };
        /**
         *
         * @param sender : The OrgChart Object
         * @param args : node
         */
        $scope.updatedEvent = function(sender, args){
        };
        /**
         *
         * @param sender : The OrgChart Object
         * @param args : node
         */
        $scope.insertNodeEvent = function(sender, args){
            var node = args.node;
            switch($scope.command.toUpperCase()){
                case "COPY":
                {
                    node.data.Title = $scope.node.data.Title;
                }
                    break;

                case "ADDBELOW":
                case "ADDLEFT":
                case "ADDRIGHT":
                {
                    var title = window.prompt("Please enter claim title", "defaultText");
                    if(title)
                        node.data.Title = title
                }
                    break;
            }
        };
        /**
         *
         * @param sender : The OrgChart Object
         * @param args : node
         */
        $scope.removeNodeEvent = function(sender, args){
        };
        $scope.clickNodeEvent = function(sender, args){
            $location.path(args.node.data.PostLink);
        };
        $scope.generateId = function(){
            return $scope.generateIdBetween($scope.minId, $scope.maxId)
        };
        $scope.findMinMax = function(a, b){
            var res = {};
            if(a > b) {
                res.min = b;
                res.max = a;
            }
            else{
                res.min = a;
                res.max = b;
            }
            return res;
        };
        $scope.generateIdBetween = function(a, b){
            var res = $scope.findMinMax(a, b);
            var min = res.min,
                    max = res.max;
            return Math.floor(Math.random() * (max - min)) + min;
        };
        $scope.getNewClaim = function(){
            return {
                id: null,
                parentId: null,
                Name: 'Root Item',
                Title: 'aaaa',
                ImageLink: 'img/preview.png',
                PostLink: '/aaaa',
                Footer: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit...'
            };
        };
        $scope.copyChild = function(node, position){
            var siblings = _.filter($scope.$orgChart.nodes, { pid: node.pid });
            siblings = _.sortBy(siblings, [function(o) { return Number(o.id); }]);
            var currentIndex = _.findIndex(siblings, {id: node.id});
            var nextId;
            if((position === "RIGHT" && currentIndex === siblings.length - 1) ||
                    (position === "LEFT" && currentIndex === 0) ||
                    siblings.length === 1){
                if(position === "RIGHT")
                    nextId = $scope.generateIdBetween(node.id + 1, $scope.maxId);
                else
                    nextId = $scope.generateIdBetween($scope.minId, node.id);
            }
            else {
                var nextSiblingId;
                if(position === "RIGHT")
                    nextSiblingId = siblings[currentIndex + 1].id;
                else
                    nextSiblingId = siblings[currentIndex - 1].id;
                nextId = $scope.generateIdBetween(node.id, nextSiblingId);
            }
            $scope.$orgChart.insertNodeCustom(node.pid, nextId);
        };
        $scope.addLeft = function(node){
            $scope.copyChild(node, "LEFT");
        };
        $scope.addRight = function(node){
            $scope.copyChild(node, "RIGHT");
        };
        $scope.onSelect = function(e) {
            $scope.command = $(e.item).data('tag');
            var nodeId = $(e.target).data('nodeId');
            $scope.node = $scope.$orgChart.nodes[nodeId];
            switch ($scope.command.toUpperCase()){
                case "ADDBELOW":
                {
                    $scope.$orgChart.insertNodeCustom(nodeId, $scope.generateId());
                }
                    break;

                case "DELETE":
                {
                    function _deleteChild(nodeId){
                        for (var prop in $scope.$orgChart.nodes) {
                            var node = $scope.$orgChart.nodes[prop];
                            if (node.pid === nodeId) {
                                _deleteChild(Number(node.id));
                            }
                        }
                        $scope.$orgChart.removeNode(nodeId);
                    }
                    _deleteChild(nodeId);
                }
                    break;

                case "COPY":
                {
                    if($scope.node.pid !== null) {
                        $scope.addRight($scope.node);
                    }
                }
                    break;

                case "ADDLEFT":
                {
                    if($scope.node.pid !== null) {
                        $scope.addLeft($scope.node);
                    }
                }
                    break;

                case "ADDRIGHT":
                {
                    if($scope.node.pid !== null) {
                        $scope.addRight($scope.node);
                    }
                }
                    break;

                case "VIEW":
                {
                    $location.path($scope.node.data.PostLink);
                }
                    break;

                default:
                    break;
            }
        };
        $scope.renderChart = function(){
            $scope.$orgChart = new getOrgChart($scope.chart, $scope.chartOptions);
        };
        $scope.renderTooltip = function(){
            $scope.$chart.on('mouseover','g[data-node-id]', function(e){
                var nodeId = $(this).data('nodeId');
                $timeout(function(){
                    $scope.node =  _.find($scope.dataSource, {id: nodeId});
                });
                $scope.$tooltip.show();
            });
            $scope.$chart.on('mouseout','g[data-node-id]', function(e){
                $scope.$tooltip.hide();
            });
            $scope.$chart.on('mousemove','g[data-node-id]', function(e){
                var left = e.clientX;
                var top = e.clientY;
                $scope.$tooltip.css({'left': left + 10 + 'px', 'top': top + 10 + 'px'});
            });
        };

        $scope.initModel();
        $timeout(function() {
            $scope.renderChart();
            $scope.renderTooltip();
            $scope.isChartRendered = true;
        });
    });
</script>
</body>
</html>